@use 'base/variables' as v;

//definiendo estilos globales

html {
    font-size: 62.5%; //1rem=10px
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
  margin: 0; /*  margen */
  font-family: 'Segoe UI', sans-serif; /* tipo de letra  */
  background-color: v.$fondo; /* Color de texto  */
  color: v.$texto;
}

h1{
  font-size: 3rem;
}
a{
  text-decoration: none;
}