//colores en modo claro
$fondo: #120826;
$texto: #ffffff;
$estrellas: hsl(0, 2%, 32%);
$clasificacion: rgb(56, 56, 57);

//colores en modo oscuro


//medidas en mediaquery
$telefono: 390px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;